<div class="container" id="home">
    <div class="login-left">
        <div class="login-header">
            <h1>Welcome</h1>
            <p>Please login to continue......</p>
        </div>
        <form action="" class="login-form" autocomplete="on">
            <div class="login-content">
                <div class="form-item">
                    <label for="email">Enter Email</label>
                    <input type="email" [(ngModel)]="loginObj.mail" name="mail" id="" placeholder="example@email.com">
                </div>
                <div class="form-item">
                    <label for="password">Enter Password</label>
                    <label for="text"></label>
                    <input type="password" name="" id="password" placeholder="Enter your Password" required class="pass-key">
                    
                    <!-- <span class="show">Show</span> -->
                </div>
                <div class="form-item">
                    <div class="checkbox">
                        <input type="checkbox" name="" id="rememberMeCheckbox" checked>
                        <label for="rememberMeCheckbox" class="checkboxlabel">Remember Me</label>
                    </div>
                </div>
                <div class="remember-forgot">
                    <a href="#">Forgot password?</a>
                </div>

                <div class="bg-grey">
                    <div class="sing-up">Don't have an account? <a href=""class="text-link" id="sign-up" >Sign up</a></div>
                    <!--<a href="#register" class="link-register">Sign Up</a>-->
                </div>

                <button type="submit" (click)="onLogin()">LogIn</button>
            </div>
          
        </form>
    </div>
    <div class="login-right">
        <img src="" alt="">
    </div>
</div>
